#logo {
	width: 100%;
}

#log {
	font-family: "Courier New", Courier, monospace;
}

html {
	background-color: #1c1919;
	font-size: 0;
}

body {
	/* This disables scrolling horizontally */
	overflow-x: hidden;
}

.window {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: block;
	/* Define transitions */
	transition-duration: 1s;
	transition-property: all;
}

#TASContainer {
	left: -0.25%;
	top: -0.25%;
}

#SettingsContainer {
	left: -300%;
	top: 0%;
}

.controllerImages {
	position: absolute;
}

#hiddenFileInput {
	display: none;
}

.buttonFake {
	background-color: #fca103;
	text-align: center;
	/* Absolute positioning */
	position: absolute;
	display: table;
	outline: 5px solid white;
	height: 18%;
	/* Prevent text from being selected */
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

.buttonText {
	display: table-cell;
	vertical-align: middle;
	color: white;
}

.material-icons.md-80 {
	font-size: 80px;
}

#submitTASFile {
	width: calc(100% / 3);
	top: 0%;
	left: 0%;
}

/* When a file is added */
.addedFile .buttonText {
	font-size: 8px;
	/* Why not? */
	font-weight: bold;
}

.addedFile .material-icons.md-80 {
	font-size: 45px;
}

/* End */

#syncController {
	width: calc(100% / 3);
	top: 0%;
	left: calc(100% / 3);
}

#openSettings {
	width: calc(100% / 3);
	top: 0%;
	left: calc(200% / 3);
}

#startTAS {
	width: calc(100% / 3);
	top: 19%;
	left: 0%;
}

#stopTAS {
	width: calc(100% / 3);
	top: 19%;
	left: calc(100% / 3);
}

#pauseTAS {
	width: calc(100% / 3);
	top: 19%;
	left: calc(200% / 3);
}

#showController {
	width: calc(100% / 3);
	top: 38%;
	left: 0%;
}

#showLog {
	width: calc(100% / 3);
	top: 38%;
	left: calc(100% / 3);
}

#showStats {
	width: calc(100% / 3);
	top: 38%;
	left: calc(200% / 3);
}

/*
	Progress bar stuff
*/
.progressBar {
	position: absolute;
	height: 2%;
	top: 57%;
	/*border-radius: 5px;*/
}

#progressBarBase {
	z-index: 0;
	width: 100%;
	background-color: black;
}

#progressBarComp {
	z-index: 0;
	width: 0%;
	background-color: orange;
}

#progressBarRun {
	z-index: 0;
	width: 0%;
	background-color: greenyellow;
}

#controllerImageContainer {
	position: absolute;
	top: 59%;
	left: 0%;
}

#logContainer {
	position: absolute;
	top: 59%;
	left: 0%;
	width: 100%;
	height: 41%;
	display: none;
}

#log {
	/* Same as fake button */
	outline: 5px solid white;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	resize: none;
	/* Remove this if you want the user to resize the textarea */
	border: none;
	color: white;
	font-size: 13px;
}

#statsChart {
	/* Same as fake button */
	outline: 5px solid white;
	position: absolute;
	top: 59%;
	left: 0%;
	width: 100%;
	height: 41%;
	display: none;
}

/* Settings stuff */

.settingsInput {
	position: absolute;
	width: 80%;
	/* Dont define top */
	left: 10%;
	bottom: 100%;
	background-color: #183170;
	/* Doesnt work on safari */
	text-align-last: center;
	text-align: center;
	color: white;
	font-weight: bold;
	outline: 5px solid white;
	/* Flex stuff */
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.settingsInputTitle {
	height: 5%;
	font-size: 25px;
}

.settingsInputItem {
	height: 10%;
	font-size: 20px;
}

#parsingTitle {
	top: 5%;
}

#parsingStyle {
	top: 10%;
}

#loopTitle {
	top: 20%;
}

#shouldLoop {
	top: 25%;
}

#submitButton {
	top: 35%;
	height: 15%;
	font-size: 40px;
}
